[submodule "Ch01/01_01"]
	path = Ch01/01_01
	url = git@github.com:cicdserver-com/jenkins.git
[submodule "Ch01/01_02"]
	path = Ch01/01_02
	url = git@github.com:cicdserver-com/bamboo.git
[submodule "Ch01/01_03"]
	path = Ch01/01_03
	url = git@github.com:cicdserver-com/teamcity.git
[submodule "Ch01/01_04"]
	path = Ch01/01_04
	url = git@github.com:cicdserver-com/gocd.git
[submodule "Ch02/02_01"]
	path = Ch02/02_01
	url = git@github.com:cicdserver-com/travisci.git
[submodule "Ch02/02_02"]
	path = Ch02/02_02
	url = git@github.com:cicdserver-com/codeship.git
[submodule "Ch02/02_03"]
	path = Ch02/02_03
	url = git@github.com:cicdserver-com/circleci.git
[submodule "Ch03/03_01"]
	path = Ch03/03_01
	url = git@github.com:cicdserver-com/aws-codepipeline-codebuild.git
[submodule "Ch03/03_02"]
	path = Ch03/03_02
	url = git@github.com:cicdserver-com/azure-pipelines.git
[submodule "Ch03/03_03"]
	path = Ch03/03_03
	url = git@github.com:cicdserver-com/gcp-cloudbuild.git
[submodule "Ch04/04_01"]
	path = Ch04/04_01
	url = git@github.com:cicdserver-com/github-actions.git
[submodule "Ch04/04_02"]
	path = Ch04/04_02
	url = git@github.com:cicdserver-com/gitlab-ci.git
[submodule "Ch04/04_03"]
	path = Ch04/04_03
	url = git@github.com:cicdserver-com/bitbucket-pipelines.git
